 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color: #00030c;
  --text-primary: #ffffff;
  --text-secondary: #c0c0c0;
  --button-blue: #167bf7;
  --button-blue-effect: #3c92fa;
  --font: "Inter";
}

body {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.main {
  background-image: url("./assets/Background.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.containerBox {
  margin: 0 6em;
}

.containerTitle {
  font-size: 28px;
  font-weight: 700;
}

.containerImg {
  margin: 1em 0 2em 0;
}

.containerButton {
  display: block;
  background-color: var(--button-blue);
  color: var(--text-primary);
  text-align: center;
  text-decoration: none;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}

.buttonSecondary {
  background-color: transparent;
  border: 2px solid var(--text-primary);
}

.containerWarning {
  color: var(--text-secondary);
  font-size: 12px;
}

.secondary {
  align-items: center;
  margin: 0 8em;
}

.secondaryImg {
  width: 80%;
}

.containerDescription {
  padding: 2em;
}

.descriptionTitle {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0.3em;
}

.descriptionText {
  color: var(--text-secondary);
}

.buttonCombo {
  display: inline-block;
  margin-top: 1em;
}

.devices {
  text-align: center;
}

.titleDevice {
  font-size: 48px;
}

.listDevices {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.itemList {
  color: var(--text-primary);
  font-size: 28px;
}

.footer {
  text-align: center;
  margin: 6em 3em;
}

.listFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  list-style-type: none;
  margin: 3em;
}

.listLink a {
  color: var(--text-primary);
  text-decoration: none;
}

.listLink a:hover {
  color: var(--button-blue);
}

.textFooter {
  margin: 1em 0;
  color: var(--text-secondary);
  font-size: 14px;
}

.containerButton:hover {
  background-color: var(--button-blue-effect);
  color: var(--background);
}

@media (max-width: 1000px) {
  .main {
    background-image: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secondary {
    text-align: center;
    margin: 0;
  }

  .descriptionTitle {
    font-size: 35px;
  }

  .containerDescription {
    font-size: 18px;
    padding: 20px;
  }

  .titleDevice {
    font-size: 36px;
  }

  .listDevices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .listFooter {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
